# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Git token file
.git_token

# VIM swapfiles
.vim/swaps

# SHELHISTORY
*history

# zsh com and backups
.zcomp*
.*backup
